.about-banner {
  background-image: url(https://images.unsplash.com/photo-1562774053-701939374585?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.about-banner::before {
  content: "";
  position: absolute;
  background: rgb(91, 86, 86);
  background: linear-gradient(
    1deg,
    rgb(4 4 4 / 85%) 0%,
    rgb(255 255 255 / 36%) 100%
  );
  height: 100%;
  width: 100%;
}

.about-content-down {
  height: 500px;
  background-color: #fff;
}

/* .about-content {
  margin-top: 85px;
  max-width: 530px;
  margin-left: auto;
} */

.about-images .about-years .years-icon {
  background-color: #fff;
  text-align: center;
  width: 85px;
  height: 85px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -30px;
  position: relative;
}

.call-to-action-wrapper {
  background-color: #e7f8ee;
  border-radius: 10px;
  padding: 20px 100px 50px;
  position: relative;
  margin-top: 30px;
}

.section-title.shape-03 {
  padding-bottom: 11px;
}

.section-padding {
  padding-top: 54px;
  padding-bottom: 25px;
  background-color: #fff;
}

.team-wrapper {
  margin-bottom: -7px;
}

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.single-team {
  text-align: center;
  margin-top: 30px;
  border: 1px solid #ccc8c88a;
  padding: 20px;
  box-shadow: 2px 4px 7px 6px #b4b1b173;
}

.single-team .team-thumb img {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(48, 146, 85, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-team .team-content {
  padding-top: 15px;
}

.single-team .team-content .rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-team .team-content .rating .count {
  font-size: 14px;
  font-weight: 500;
  color: #212832;
}

.single-team .team-content .rating i {
  color: #ffba00;
  margin: 0 5px;
}

.single-team .team-content .rating .text {
  font-size: 13px;
  font-family: serif;
  font-weight: 400;
  color: #848886;
}

.single-team .team-content .name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
}

.single-team .team-content .designation {
  display: block;
  font-size: 14px;
  color: #309255;
  margin-top: 10px;
}

.single-team:hover .team-thumb img {
  border-color: #309255;
}

.star {
  height: 18px;
  margin: 2px;
  margin-top: -3px;
}

.shape_23 {
  transform: translate(-65%, -25%);
}

.shape-icon-box .box-content {
  width: 160px;
  height: 160px;
  text-align: center;
  border: 2px solid rgba(48, 146, 85, 0.2);
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  top: 270px;
}

.icon-shape-1 {
  position: absolute;
  height: 50px;
  top: 250px;
  right: 430px;
}

.ptb-50 {
  padding: 50px 0px;
}
